[submodule "go-backend-ddd"]
	path = go-backend-ddd
	url = git@github.com:mfzzf/go-ddd-skills.git
[submodule "frontend-build-2026"]
	path = frontend-build-2026
	url = git@github.com:mfzzf/frontend-build-2026.git
[submodule "anthropics-skills"]
	path = anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "modelverse-image"]
	path = modelverse-image
	url = git@github.com:mfzzf/modelverse-image.git
[submodule "ucloud-api"]
	path = ucloud-api
	url = git@github.com:mfzzf/ucloud-skills.git
[submodule "modelverse-api"]
	path = modelverse-api
	url = git@github.com:mfzzf/modelverse-skills.git
[submodule "openai-docs"]
	path = openai-docs
	url = git@github.com:mfzzf/openai-docs.git
[submodule "gemini-docs"]
	path = gemini-docs
	url = git@github.com:mfzzf/gemini-docs.git
[submodule "anthropic-docs"]
	path = anthropic-docs
	url = git@github.com:mfzzf/anthropic-docs.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "wdkns-skills"]
	path = wdkns-skills
	url = git@github.com:wdkns/wdkns-skills.git
[submodule "shadcn-ui-docs"]
	path = shadcn-ui-docs
	url = git@github.com:mfzzf/shadcn-ui-docs.git
[submodule "nextjs-docs"]
	path = nextjs-docs
	url = git@github.com:mfzzf/nextjs-docs.git
